# frozen_string_literal: true

require_relative "../src/<%= config[:day] %>.rb"

describe "day_<%= config[:day] %>" do
  it "should do something" do
    # expect(day_<%= config[:day] %>(arr)).to eq(0)
  end
end
